In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
dt = pd.read_csv('car data.csv')

In [3]:
dt

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [4]:
dt.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [5]:
exm_fit = dt.experience.median()

In [6]:
exm_fit

5.0

In [7]:
dt.experience = dt.experience.fillna(exm_fit)

In [8]:
dt.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [9]:
dt

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [10]:
dt.speed

0    200
1     90
2    165
3    110
4    140
5    115
Name: speed, dtype: int64

In [11]:
reg = linear_model.LinearRegression()

In [12]:
reg.fit(dt[['speed','car_age','experience']], dt.risk)

LinearRegression()

In [13]:
reg.predict([[160,10,5]])

D:\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [14]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [15]:
reg.intercept_

33.410000910435905

In [17]:
y = 0.33059217*160 + 33.410000910435905

In [18]:
y

86.30474811043591